@import "../../styles/_variables.sass";

.watchGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.selectField {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
