@import "../../styles/_variables.sass";

.selectBox {
  font-size: 14px;
  font-family: $secondary-font-family;
  box-shadow: none;
  background: transparent;
  width: 20%;
  margin: 2%;
  text-align-last: center;
  outline: none;
  border: 1px solid $dark-gray;
}
