@import "../../styles/_variables.sass";

.selectBox {
  font-size: 14px;
  font-family: $secondary-font-family;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  width: 20%;
  margin: 2%;
  outline: none;
  border: 1px solid $dark-gray;
}
