@import "../../styles/_variables.scss";

.watchTile {
  border-radius: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 280px;
  margin: 10px 10px 75px 10px;
  position: relative;
  text-align: center;
  color: $primary-font-color;

  img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 2px;
  }

  div {
    padding-top: 5px;
    width: 100%;
  }

  & h3 {
    padding-bottom: 4px;
  }

  & button {
    background-color: $light-gray;
    border: 1px solid $light-gray;
    border-radius: 1px;

    &:hover {
      background-color: $dark-gray;
      border: 1px solid $dark-gray;
      color: #fff;
    }
  }
}
