@import "../../styles/_variables.scss";

header {
  width: 100%;
  color: $primary-font-color;
}

.header__inner {
  max-width: 1200px;
  padding: 50px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 4.5rem;
  font-weight: normal;
}

.header__logo a {
  text-decoration: none;
  color: $primary-font-color;
}

.header__nav li {
  display: inline-block;
  margin-left: 20px;
}

.header__nav a {
  text-decoration: none;
  color: $primary-font-color;
  font-size: 1.6rem;
}

.header__nav a:hover {
  color: $blue-gray;
}

.header__nav button {
  background: transparent;
  border: none;
  color: $primary-font-color;
  cursor: pointer;
  font-family: $primary-font-family;
  font-size: 1.6rem;
  outline: transparent;
  padding: 0;
  text-decoration: none;
}

.header__nav button:hover {
  color: $blue-gray;
}
