@import url("https://fonts.googleapis.com/css?family=Arvo|Lato");

// $dark-gray: #86a2cc;
$dark-gray: #7b8eaa;
$light-gray: #dce5f5;
$blue-gray: #9cb8e3;

$primary-font-family: "Arvo", serif;
$secondary-font-family: "Lato", sans-serif;

$primary-font-color: $light-gray;
$primary-dark-btn-color: $dark-gray;

$dark-backsplash: $dark-gray;
$light-backsplash: $light-gray;
