@import "../../styles/_variables.scss";

.wishlist-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 2.2;

  .wishlist-description {
    width: 55%;
  }

  .wishlist-delete,
  .add-to-cart {
    background-color: $light-gray;
    border: 1px solid $light-gray;
    color: $dark-gray;
    border-radius: 2px;
    height: 30px;
    align-self: center;
  }

  .wishlist-delete:hover,
  .add-to-cart:hover {
    background-color: $dark-gray;
    border: 1px solid $dark-gray;
    color: #fff;
  }
}

.wishlist-img-container {
  display: flex;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
