@import "../../styles/_variables.sass";

.form label, .form input, .form textarea {
  width: 100%;
}

.login-form, .signup-form, .watch-form, .user-form {
  width: 300px;
  margin: 100px auto;
}

.user-form button, .watch-form button {
  width: 60px;
  height: 30px;
}

.login-form p, .signup-form p {
  text-align: center;
}

.login-form button:last-child, .signup-form button:last-child {
  background: transparent;
  border: none;
  outline: transparent;
  text-decoration: underline;
}

.watch-form_submit {
  margin: 10px auto;
  width: 100px;
}